@inherits LearnBlazorBase
@page "/learnblazor"

<h2 class="text-info pb-3">@WelcomeText</h2>
<h3></h3>

<p>On Change &nbsp; <input @bind="name" /></p>
<p>On Spontaneous &nbsp; <input @bind="name" @bind:event="oninput" /></p>

<p>I am @(name!=null?name:"_____")</p>

<p><button @onclick="getName">Surprise me!</button></p>


